In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import imblearn

In [2]:
df_assess = pd.read_csv("../MSDS_Capstone/assessments.csv")
df_course = pd.read_csv("../MSDS_Capstone/courses.csv")
df_stud_asses = pd.read_csv("../MSDS_Capstone/studentAssessment.csv")
df_stud_info = pd.read_csv("../MSDS_Capstone/studentInfo.csv")
df_stud_reg = pd.read_csv("../MSDS_Capstone/studentRegistration.csv")
df_stud_vle = pd.read_csv("../MSDS_Capstone/studentVle.csv")
df_vle = pd.read_csv("../MSDS_Capstone/vle.csv")

In [3]:
df_stud_asses.shape

(173912, 5)

In [4]:
df_stud_assess_info =  pd.merge(df_stud_asses,df_assess,on = "id_assessment")

In [5]:
df_stud_assess_info2 =  pd.merge(df_stud_assess_info,df_stud_info,on = ["id_student","code_module","code_presentation"])

In [6]:
df_stud_assess_info2

,id_assessment,id_student,date_submitted,is_banked,score,code_module,code_presentation,assessment_type,date,weight,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,1752,11391,18,0,78,AAA,2013J,TMA,19,10.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,1753,11391,53,0,85,AAA,2013J,TMA,54,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
2,1754,11391,115,0,80,AAA,2013J,TMA,117,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
3,1755,11391,164,0,85,AAA,2013J,TMA,166,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
4,1756,11391,212,0,82,AAA,2013J,TMA,215,30.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173907,37439,573320,227,0,80,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail
173908,37440,573320,227,0,100,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail
173909,37441,573320,227,0,100,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail
173910,37442,573320,227,0,20,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail
173911,37443,573320,227,0,40,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail

In [7]:
df_stud_assess_info2.shape

(173912, 19)

In [8]:
df_stud_assess_info

,id_assessment,id_student,date_submitted,is_banked,score,code_module,code_presentation,assessment_type,date,weight
0,1752,11391,18,0,78,AAA,2013J,TMA,19,10.0
1,1752,28400,22,0,70,AAA,2013J,TMA,19,10.0
2,1752,31604,17,0,72,AAA,2013J,TMA,19,10.0
3,1752,32885,26,0,69,AAA,2013J,TMA,19,10.0
4,1752,38053,19,0,79,AAA,2013J,TMA,19,10.0
...,...,...,...,...,...,...,...,...,...,...
173907,37443,527538,227,0,60,GGG,2014J,CMA,229,0.0
173908,37443,534672,229,0,100,GGG,2014J,CMA,229,0.0
173909,37443,546286,215,0,80,GGG,2014J,CMA,229,0.0
173910,37443,546724,230,0,100,GGG,2014J,CMA,229,0.0
173911,37443,558486,224,0,80,GGG,2014J,CMA,229,0.0

In [9]:
df_stud_assess_info2.columns

Index(['id_assessment', 'id_student', 'date_submitted', 'is_banked', 'score',
       'code_module', 'code_presentation', 'assessment_type', 'date', 'weight',
       'gender', 'region', 'highest_education', 'imd_band', 'age_band',
       'num_of_prev_attempts', 'studied_credits', 'disability',
       'final_result'],
      dtype='object')

In [10]:
#df_stud_assess_info2 = df_stud_assess_info2.rename(columns={"code_module_x":"code_module","code_presentation_x":"code_presentation"})

In [11]:
df_stud_assess_info2.columns

Index(['id_assessment', 'id_student', 'date_submitted', 'is_banked', 'score',
       'code_module', 'code_presentation', 'assessment_type', 'date', 'weight',
       'gender', 'region', 'highest_education', 'imd_band', 'age_band',
       'num_of_prev_attempts', 'studied_credits', 'disability',
       'final_result'],
      dtype='object')

In [12]:
#df_stud_assess_info2.drop(["code_module_y","code_presentation_y"],axis = 1)
#.drop("sum_click",axis=1)

In [13]:
df_stud_assess_info2["code_course"] = df_stud_assess_info2["code_module"] + df_stud_assess_info2["code_presentation"]

In [14]:
df_stud_assess_info2

,id_assessment,id_student,date_submitted,is_banked,score,code_module,code_presentation,assessment_type,date,weight,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,code_course
0,1752,11391,18,0,78,AAA,2013J,TMA,19,10.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
1,1753,11391,53,0,85,AAA,2013J,TMA,54,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
2,1754,11391,115,0,80,AAA,2013J,TMA,117,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
3,1755,11391,164,0,85,AAA,2013J,TMA,166,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
4,1756,11391,212,0,82,AAA,2013J,TMA,215,30.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173907,37439,573320,227,0,80,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail,GGG2014J
173908,37440,573320,227,0,100,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail,GGG2014J
173909,37441,573320,227,0,100,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail,GGG2014J
173910,37442,573320,227,0,20,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail,GGG2014J
173911,37443,573320,227,0,40,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail,GGG2014J

In [15]:
df_stud_assess_info2["imd_band"] = df_stud_assess_info2["imd_band"].replace("10-20","10-20%")

In [113]:
df_stud_assess_info2["imd_band"].value_counts()

imd_band
30-40%     19198
20-30%     17500
40-50%     17048
50-60%     16980
10-20%     16791
70-80%     16268
60-70%     16162
80-90%     15852
0-10%      15277
90-100%    15139
?           7697
Name: count, dtype: int64

In [17]:
courses = df_stud_assess_info2["code_course"].unique()

In [18]:
df_stud_assess_info2["score"] = df_stud_assess_info2["score"].replace("?",0.0)

In [19]:
courses

array(['AAA2013J', 'AAA2014J', 'BBB2013B', 'BBB2013J', 'BBB2014B',
       'BBB2014J', 'CCC2014B', 'CCC2014J', 'DDD2013B', 'DDD2013J',
       'DDD2014B', 'DDD2014J', 'EEE2013J', 'EEE2014B', 'EEE2014J',
       'FFF2013B', 'FFF2013J', 'FFF2014B', 'FFF2014J', 'GGG2013J',
       'GGG2014B', 'GGG2014J'], dtype=object)

In [20]:
print("df_stud_"+courses[3])

df_stud_BBB2013J

In [21]:
df_stud_AAA2013J = df_stud_assess_info2.loc[df_stud_assess_info2["code_course"] == "AAA2013J"]

In [22]:
df_stud_AAA2013J

,id_assessment,id_student,date_submitted,is_banked,score,code_module,code_presentation,assessment_type,date,weight,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,code_course
0,1752,11391,18,0,78,AAA,2013J,TMA,19,10.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
1,1753,11391,53,0,85,AAA,2013J,TMA,54,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
2,1754,11391,115,0,80,AAA,2013J,TMA,117,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
3,1755,11391,164,0,85,AAA,2013J,TMA,166,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
4,1756,11391,212,0,82,AAA,2013J,TMA,215,30.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628,1755,293699,174,0,38,AAA,2013J,TMA,166,20.0,M,East Midlands Region,A Level or Equivalent,70-80%,0-35,0,120,N,Pass,AAA2013J
1629,1756,293699,215,0,41,AAA,2013J,TMA,215,30.0,M,East Midlands Region,A Level or Equivalent,70-80%,0-35,0,120,N,Pass,AAA2013J
1630,1753,581129,54,0,15,AAA,2013J,TMA,54,20.0,M,East Anglian Region,A Level or Equivalent,30-40%,0-35,0,120,N,Fail,AAA2013J
1631,1754,581129,117,0,65,AAA,2013J,TMA,117,20.0,M,East Anglian Region,A Level or Equivalent,30-40%,0-35,0,120,N,Fail,AAA2013J
1632,1754,195262,118,0,50,AAA,2013J,TMA,117,20.0,M,London Region,A Level or Equivalent,90-100%,0-35,0,60,N,Withdrawn,AAA2013J

In [23]:
DataFrameDict = {elem : pd.DataFrame() for elem in courses}

for key in DataFrameDict.keys():
    DataFrameDict[key] = df_stud_assess_info2[:][df_stud_assess_info2.code_course == key]

In [24]:
DataFrameDict[courses[16]]

,id_assessment,id_student,date_submitted,is_banked,score,code_module,code_presentation,assessment_type,date,weight,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,code_course
116073,34873,558893,15,0,94,FFF,2013J,TMA,19,12.5,M,Yorkshire Region,A Level or Equivalent,90-100%,0-35,0,60,N,Distinction,FFF2013J
116074,34874,558893,43,0,84,FFF,2013J,TMA,47,12.5,M,Yorkshire Region,A Level or Equivalent,90-100%,0-35,0,60,N,Distinction,FFF2013J
116075,34875,558893,92,0,77,FFF,2013J,TMA,96,25.0,M,Yorkshire Region,A Level or Equivalent,90-100%,0-35,0,60,N,Distinction,FFF2013J
116076,34876,558893,129,0,87,FFF,2013J,TMA,131,25.0,M,Yorkshire Region,A Level or Equivalent,90-100%,0-35,0,60,N,Distinction,FFF2013J
116077,34877,558893,170,0,93,FFF,2013J,TMA,173,25.0,M,Yorkshire Region,A Level or Equivalent,90-100%,0-35,0,60,N,Distinction,FFF2013J
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132308,34878,576466,13,0,65,FFF,2013J,CMA,236,0.0,M,Scotland,A Level or Equivalent,10-20%,0-35,0,90,Y,Withdrawn,FFF2013J
132309,34878,591516,28,0,85,FFF,2013J,CMA,236,0.0,M,North Western Region,Lower Than A Level,30-40%,0-35,0,90,N,Fail,FFF2013J
132310,34879,591516,58,0,91,FFF,2013J,CMA,236,0.0,M,North Western Region,Lower Than A Level,30-40%,0-35,0,90,N,Fail,FFF2013J
132311,34881,591516,238,0,59,FFF,2013J,CMA,236,0.0,M,North Western Region,Lower Than A Level,30-40%,0-35,0,90,N,Fail,FFF2013J
132312,34878,598757,3,0,71,FFF,2013J,CMA,236,0.0,M,South Region,A Level or Equivalent,90-100%,35-55,0,90,N,Withdrawn,FFF2013J

In [25]:
df_stud_assess_info2["score"] = pd.to_numeric(df_stud_assess_info2["score"])

In [26]:
df_stud_assess_info2["score"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 173912 entries, 0 to 173911
Series name: score
Non-Null Count   Dtype
--------------   -----
173912 non-null  float64
dtypes: float64(1)
memory usage: 1.3 MB

In [27]:
df_stud_assess_info2.loc[df_stud_assess_info2["score"] == "?"]

Empty DataFrame
Columns: [id_assessment, id_student, date_submitted, is_banked, score, code_module, code_presentation, assessment_type, date, weight, gender, region, highest_education, imd_band, age_band, num_of_prev_attempts, studied_credits, disability, final_result, code_course]
Index: []

df_stud_assess_info2.to_csv("df_stud_assess_info2.csv")

In [28]:
df_stud_assess_p = pd.pivot_table(DataFrameDict[courses[16]],index=["id_student","code_module","code_presentation"],columns="id_assessment",values = "score",fill_value=0)
#reset_index(level=[1,2])         
#df = df[df.columns[2:].tolist() + df.columns[:2].tolist()]

In [29]:
df_stud_assess_p

,,id_assessment,34873,34874,34875,34876,34877,34878,34879,34880,34881,34882,34883,34884
id_student,code_module,code_presentation,,,,,,,,,,,,
26247,FFF,2013J,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29335,FFF,2013J,94.0,92.0,94.0,96.0,97.0,87.0,90.0,87.0,96.0,95.0,91.0,86.0
29769,FFF,2013J,88.0,64.0,63.0,60.0,0.0,95.0,95.0,0.0,0.0,0.0,0.0,0.0
32221,FFF,2013J,94.0,90.0,88.0,88.0,0.0,88.0,0.0,0.0,0.0,0.0,0.0,0.0
33600,FFF,2013J,84.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2688202,FFF,2013J,86.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2692632,FFF,2013J,80.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2694680,FFF,2013J,92.0,94.0,80.0,0.0,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0
2697921,FFF,2013J,80.0,44.0,78.0,76.0,89.0,61.0,81.0,65.0,69.0,84.0,61.0,63.0
2698125,FFF,2013J,80.0,78.0,69.0,53.0,71.0,84.0,94.0,69.0,86.0,88.0,92.0,80.0

In [30]:
df_stud_assess_info2

,id_assessment,id_student,date_submitted,is_banked,score,code_module,code_presentation,assessment_type,date,weight,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,code_course
0,1752,11391,18,0,78.0,AAA,2013J,TMA,19,10.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
1,1753,11391,53,0,85.0,AAA,2013J,TMA,54,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
2,1754,11391,115,0,80.0,AAA,2013J,TMA,117,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
3,1755,11391,164,0,85.0,AAA,2013J,TMA,166,20.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
4,1756,11391,212,0,82.0,AAA,2013J,TMA,215,30.0,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173907,37439,573320,227,0,80.0,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail,GGG2014J
173908,37440,573320,227,0,100.0,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail,GGG2014J
173909,37441,573320,227,0,100.0,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail,GGG2014J
173910,37442,573320,227,0,20.0,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail,GGG2014J
173911,37443,573320,227,0,40.0,GGG,2014J,CMA,229,0.0,F,South East Region,Lower Than A Level,80-90%,35-55,0,30,N,Fail,GGG2014J

In [31]:
df_stud_assess_info2["assessment_type"].unique()

array(['TMA', 'CMA', 'Exam'], dtype=object)

In [32]:
df_stud_assess_info3 = df_stud_assess_info2.copy()

In [33]:
df_stud_assess_info3["assessment_type"] = df_stud_assess_info3["assessment_type"].replace({"TMA":1,"CMA":2,"Exam":3})

In [34]:
df_stud_assess_info3["assessment_type"].value_counts()

assessment_type
1    98426
2    70527
3     4959
Name: count, dtype: int64

In [35]:
df_stud_assess_piv = pd.pivot_table(df_stud_assess_info2,index=["id_student","code_course"],columns=["assessment_type"],values = "score",fill_value=0,aggfunc=np.sum)

In [36]:
df_stud_assess_piv

assessment_type         CMA  Exam  TMA
id_student code_course
6516       AAA2014J       0     0  309
8462       DDD2013J       0     0  263
           DDD2014J       0     0  346
11391      AAA2013J       0     0  410
23629      BBB2013B     200     0  130
...                     ...   ...  ...
2698257    AAA2013J       0     0  339
2698535    CCC2014B      74     0   23
           EEE2013J       0     0  217
2698577    BBB2014J       0     0  322
2698588    BBB2014J       0     0  462

[25843 rows x 3 columns]

In [37]:
df_stud_info2 = df_stud_info.copy()

In [38]:
df_stud_info2["code_course"] = df_stud_info2["code_module"] + df_stud_info2["code_presentation"]

In [39]:
df_asses_info2 = df_assess.copy()

In [40]:
df_asses_info2["code_course"] = df_asses_info2["code_module"] + df_asses_info2["code_presentation"]

In [41]:
df_ass_grp = df_asses_info2.groupby(["code_course"]).count()

In [42]:
df_ass_grp

,code_module,code_presentation,id_assessment,assessment_type,date,weight
code_course,,,,,,
AAA2013J,6,6,6,6,6,6
AAA2014J,6,6,6,6,6,6
BBB2013B,12,12,12,12,12,12
BBB2013J,12,12,12,12,12,12
BBB2014B,12,12,12,12,12,12
BBB2014J,6,6,6,6,6,6
CCC2014B,10,10,10,10,10,10
CCC2014J,10,10,10,10,10,10
DDD2013B,14,14,14,14,14,14
DDD2013J,7,7,7,7,7,7
DDD2014B,7,7,7,7,7,7
DDD2014J,7,7,7,7,7,7
EEE2013J,5,5,5,5,5,5
EEE2014B,5,5,5,5,5,5
EEE2014J,5,5,5,5,5,5
FFF2013B,13,13,13,13,13,13
FFF2013J,13,13,13,13,13,13
FFF2014B,13,13,13,13,13,13
FFF2014J,13,13,13,13,13,13
GGG2013J,10,10,10,10,10,10
GGG2014B,10,10,10,10,10,10
GGG2014J,10,10,10,10,10,10

In [43]:
df_stud_assess_piv_mer =   pd.merge(df_stud_assess_piv,df_stud_info2,on = ["id_student","code_course"])

In [44]:
df_stud_assess_piv_mer

,id_student,code_course,CMA,Exam,TMA,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,6516,AAA2014J,0,0,309,AAA,2014J,M,Scotland,HE Qualification,80-90%,55<=,0,60,N,Pass
1,8462,DDD2013J,0,0,263,DDD,2013J,M,London Region,HE Qualification,30-40%,55<=,0,90,N,Withdrawn
2,8462,DDD2014J,0,0,346,DDD,2014J,M,London Region,HE Qualification,30-40%,55<=,1,60,N,Withdrawn
3,11391,AAA2013J,0,0,410,AAA,2013J,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
4,23629,BBB2013B,200,0,130,BBB,2013B,F,East Anglian Region,Lower Than A Level,20-30%,0-35,2,60,N,Fail
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25838,2698257,AAA2013J,0,0,339,AAA,2013J,M,East Midlands Region,Lower Than A Level,60-70%,0-35,0,120,N,Pass
25839,2698535,CCC2014B,74,0,23,CCC,2014B,M,Wales,Lower Than A Level,50-60%,0-35,0,60,N,Withdrawn
25840,2698535,EEE2013J,0,0,217,EEE,2013J,M,Wales,Lower Than A Level,50-60%,0-35,0,60,N,Pass
25841,2698577,BBB2014J,0,0,322,BBB,2014J,F,Wales,Lower Than A Level,50-60%,35-55,0,60,N,Fail
25842,2698588,BBB2014J,0,0,462,BBB,2014J,F,Yorkshire Region,HE Qualification,30-40%,0-35,0,120,N,Distinction

In [45]:
df_stud_assess_piv_mer2 =   pd.merge(df_stud_assess_piv_mer,df_ass_grp,on = ["code_course"])

In [46]:
df_stud_assess_piv_mer2

,id_student,code_course,CMA,Exam,TMA,code_module_x,code_presentation_x,gender,region,highest_education,...,num_of_prev_attempts,studied_credits,disability,final_result,code_module_y,code_presentation_y,id_assessment,assessment_type,date,weight
0,6516,AAA2014J,0,0,309,AAA,2014J,M,Scotland,HE Qualification,...,0,60,N,Pass,6,6,6,6,6,6
1,24734,AAA2014J,0,0,234,AAA,2014J,F,South Region,Lower Than A Level,...,0,60,N,Pass,6,6,6,6,6,6
2,26192,AAA2014J,0,0,431,AAA,2014J,F,East Anglian Region,A Level or Equivalent,...,0,60,N,Distinction,6,6,6,6,6,6
3,28061,AAA2014J,0,0,388,AAA,2014J,M,Yorkshire Region,Lower Than A Level,...,0,60,N,Pass,6,6,6,6,6,6
4,31600,AAA2014J,0,0,274,AAA,2014J,F,South West Region,A Level or Equivalent,...,0,60,N,Pass,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25838,2654928,EEE2014J,0,0,338,EEE,2014J,M,South Region,Lower Than A Level,...,0,60,N,Pass,5,5,5,5,5,5
25839,2663195,EEE2014J,0,0,339,EEE,2014J,M,East Anglian Region,Lower Than A Level,...,0,30,N,Pass,5,5,5,5,5,5
25840,2681277,EEE2014J,0,0,95,EEE,2014J,M,London Region,HE Qualification,...,1,205,N,Withdrawn,5,5,5,5,5,5
25841,2686053,EEE2014J,0,0,348,EEE,2014J,M,South West Region,A Level or Equivalent,...,0,30,N,Distinction,5,5,5,5,5,5
25842,2686712,EEE2014J,0,0,194,EEE,2014J,M,West Midlands Region,A Level or Equivalent,...,1,60,N,Fail,5,5,5,5,5,5

In [101]:
#df_stud_assess_piv_mer2["weighted_grade"] = np.where(df_stud_assess_piv_mer2.code_course.eq(["DDD2013J","DDD2014J","DDD2014B","DDD2013B","CCC2014J","CCC2014J"]), 
 #                                                    (df_stud_assess_piv_mer2["CMA"]+df_stud_assess_piv_mer2["Exam"]+df_stud_assess_piv_mer2["TMA"])/(df_stud_assess_piv_mer2["assessment_type"]),
  #                                                   (df_stud_assess_piv_mer2["CMA"]+df_stud_assess_piv_mer2["Exam"]+df_stud_assess_piv_mer2["TMA"])/(df_stud_assess_piv_mer2["assessment_type"]-1))


df_stud_assess_piv_mer2["weighted_grade"] = ((df_stud_assess_piv_mer2["CMA"]+df_stud_assess_piv_mer2["Exam"]+df_stud_assess_piv_mer2["TMA"])/(df_stud_assess_piv_mer2["assessment_type"])).where(df_stud_assess_piv_mer2["code_course"].isin(["DDD2013J","DDD2014J","DDD2014B","DDD2013B","CCC2014J","CCC2014B"]),((df_stud_assess_piv_mer2["CMA"]+df_stud_assess_piv_mer2["Exam"]+df_stud_assess_piv_mer2["TMA"])/(df_stud_assess_piv_mer2["assessment_type"]-1)))
#df_stud_assess_piv_mer2["weighted_grade"] = (df_stud_assess_piv_mer2["CMA"]+df_stud_assess_piv_mer2["Exam"]+df_stud_assess_piv_mer2["TMA"])/(df_stud_assess_piv_mer2["assessment_type"]-1)

In [102]:
df_stud_assess_piv_mer2

,id_student,code_course,CMA,Exam,TMA,code_module_x,code_presentation_x,gender,region,highest_education,...,studied_credits,disability,final_result,code_module_y,code_presentation_y,id_assessment,assessment_type,date,weight,weighted_grade
0,6516,AAA2014J,0,0,309,AAA,2014J,M,Scotland,HE Qualification,...,60,N,Pass,6,6,6,6,6,6,61.80
1,24734,AAA2014J,0,0,234,AAA,2014J,F,South Region,Lower Than A Level,...,60,N,Pass,6,6,6,6,6,6,46.80
2,26192,AAA2014J,0,0,431,AAA,2014J,F,East Anglian Region,A Level or Equivalent,...,60,N,Distinction,6,6,6,6,6,6,86.20
3,28061,AAA2014J,0,0,388,AAA,2014J,M,Yorkshire Region,Lower Than A Level,...,60,N,Pass,6,6,6,6,6,6,77.60
4,31600,AAA2014J,0,0,274,AAA,2014J,F,South West Region,A Level or Equivalent,...,60,N,Pass,6,6,6,6,6,6,54.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25838,2654928,EEE2014J,0,0,338,EEE,2014J,M,South Region,Lower Than A Level,...,60,N,Pass,5,5,5,5,5,5,84.50
25839,2663195,EEE2014J,0,0,339,EEE,2014J,M,East Anglian Region,Lower Than A Level,...,30,N,Pass,5,5,5,5,5,5,84.75
25840,2681277,EEE2014J,0,0,95,EEE,2014J,M,London Region,HE Qualification,...,205,N,Withdrawn,5,5,5,5,5,5,23.75
25841,2686053,EEE2014J,0,0,348,EEE,2014J,M,South West Region,A Level or Equivalent,...,30,N,Distinction,5,5,5,5,5,5,87.00
25842,2686712,EEE2014J,0,0,194,EEE,2014J,M,West Midlands Region,A Level or Equivalent,...,60,N,Fail,5,5,5,5,5,5,48.50

In [103]:
df_DS2 = pd.read_csv("../MSDS_Capstone/DS2.csv")

In [104]:
df_DS2["code_course"] = df_DS2["code_module"] + df_DS2["code_presentation"]

In [105]:
df_DS2

,id_student,code_module,code_presentation,dataplus,dualpane,externalquiz,folder,forumng,glossary,homepage,...,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,code_course
0,6516,AAA,2014J,21.0,0.0,0.0,0.0,451.0,0.0,497.0,...,M,Scotland,HE Qualification,80-90%,55<=,0,60,N,Pass,AAA2014J
1,8462,DDD,2013J,0.0,0.0,12.0,0.0,36.0,0.0,184.0,...,M,London Region,HE Qualification,30-40%,55<=,0,90,N,Withdrawn,DDD2013J
2,8462,DDD,2014J,0.0,0.0,0.0,0.0,2.0,0.0,7.0,...,M,London Region,HE Qualification,30-40%,55<=,1,60,N,Withdrawn,DDD2014J
3,11391,AAA,2013J,0.0,0.0,0.0,0.0,193.0,0.0,138.0,...,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,AAA2013J
4,23629,BBB,2013B,0.0,0.0,0.0,0.0,87.0,0.0,36.0,...,F,East Anglian Region,Lower Than A Level,20-30%,0-35,2,60,N,Fail,BBB2013B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29223,2698257,AAA,2013J,0.0,0.0,0.0,0.0,201.0,0.0,165.0,...,M,East Midlands Region,Lower Than A Level,60-70%,0-35,0,120,N,Pass,AAA2013J
29224,2698535,CCC,2014B,0.0,0.0,0.0,0.0,309.0,0.0,98.0,...,M,Wales,Lower Than A Level,50-60%,0-35,0,60,N,Withdrawn,CCC2014B
29225,2698535,EEE,2013J,0.0,2.0,0.0,0.0,1953.0,0.0,391.0,...,M,Wales,Lower Than A Level,50-60%,0-35,0,60,N,Pass,EEE2013J
29226,2698577,BBB,2014J,0.0,0.0,0.0,0.0,103.0,0.0,204.0,...,F,Wales,Lower Than A Level,50-60%,35-55,0,60,N,Fail,BBB2014J
29227,2698588,BBB,2014J,0.0,0.0,0.0,0.0,67.0,0.0,171.0,...,F,Yorkshire Region,HE Qualification,30-40%,0-35,0,120,N,Distinction,BBB2014J

In [106]:
df_stud_assess_piv_mer3 = pd.merge(df_stud_assess_piv_mer2,df_DS2,on = ["id_student","code_course"])

In [107]:
df_stud_assess_piv_mer3

,id_student,code_course,CMA,Exam,TMA,code_module_x,code_presentation_x,gender_x,region_x,highest_education_x,...,url,gender_y,region_y,highest_education_y,imd_band_y,age_band_y,num_of_prev_attempts_y,studied_credits_y,disability_y,final_result_y
0,6516,AAA2014J,0,0,309,AAA,2014J,M,Scotland,HE Qualification,...,143.0,M,Scotland,HE Qualification,80-90%,55<=,0,60,N,Pass
1,24734,AAA2014J,0,0,234,AAA,2014J,F,South Region,Lower Than A Level,...,9.0,F,South Region,Lower Than A Level,60-70%,0-35,0,60,N,Pass
2,26192,AAA2014J,0,0,431,AAA,2014J,F,East Anglian Region,A Level or Equivalent,...,162.0,F,East Anglian Region,A Level or Equivalent,60-70%,35-55,0,60,N,Distinction
3,28061,AAA2014J,0,0,388,AAA,2014J,M,Yorkshire Region,Lower Than A Level,...,110.0,M,Yorkshire Region,Lower Than A Level,40-50%,35-55,0,60,N,Pass
4,31600,AAA2014J,0,0,274,AAA,2014J,F,South West Region,A Level or Equivalent,...,2.0,F,South West Region,A Level or Equivalent,40-50%,0-35,0,60,N,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25788,2654928,EEE2014J,0,0,338,EEE,2014J,M,South Region,Lower Than A Level,...,69.0,M,South Region,Lower Than A Level,90-100%,0-35,0,60,N,Pass
25789,2663195,EEE2014J,0,0,339,EEE,2014J,M,East Anglian Region,Lower Than A Level,...,36.0,M,East Anglian Region,Lower Than A Level,90-100%,0-35,0,30,N,Pass
25790,2681277,EEE2014J,0,0,95,EEE,2014J,M,London Region,HE Qualification,...,8.0,M,London Region,HE Qualification,30-40%,35-55,1,205,N,Withdrawn
25791,2686053,EEE2014J,0,0,348,EEE,2014J,M,South West Region,A Level or Equivalent,...,61.0,M,South West Region,A Level or Equivalent,40-50%,35-55,0,30,N,Distinction
25792,2686712,EEE2014J,0,0,194,EEE,2014J,M,West Midlands Region,A Level or Equivalent,...,67.0,M,West Midlands Region,A Level or Equivalent,60-70%,35-55,1,60,N,Fail

In [108]:
df_stud_assess_piv_mer3.columns

Index(['id_student', 'code_course', 'CMA', 'Exam', 'TMA', 'code_module_x',
       'code_presentation_x', 'gender_x', 'region_x', 'highest_education_x',
       'imd_band_x', 'age_band_x', 'num_of_prev_attempts_x',
       'studied_credits_x', 'disability_x', 'final_result_x', 'code_module_y',
       'code_presentation_y', 'id_assessment', 'assessment_type', 'date',
       'weight', 'weighted_grade', 'code_module', 'code_presentation',
       'dataplus', 'dualpane', 'externalquiz', 'folder', 'forumng', 'glossary',
       'homepage', 'htmlactivity', 'oucollaborate', 'oucontent',
       'ouelluminate', 'ouwiki', 'page', 'questionnaire', 'quiz',
       'repeatactivity', 'resource', 'sharedsubpage', 'subpage', 'url',
       'gender_y', 'region_y', 'highest_education_y', 'imd_band_y',
       'age_band_y', 'num_of_prev_attempts_y', 'studied_credits_y',
       'disability_y', 'final_result_y'],
      dtype='object')

In [109]:
df_stud_assess_piv_mer3 = df_stud_assess_piv_mer3.drop(["code_module_y","code_presentation_y",'gender_y', 'region_y', 'highest_education_y', 'imd_band_y','age_band_y', 'num_of_prev_attempts_y', 'studied_credits_y','disability_y', 'final_result_y'],axis=1)

In [110]:
df_stud_assess_piv_mer3.columns

Index(['id_student', 'code_course', 'CMA', 'Exam', 'TMA', 'code_module_x',
       'code_presentation_x', 'gender_x', 'region_x', 'highest_education_x',
       'imd_band_x', 'age_band_x', 'num_of_prev_attempts_x',
       'studied_credits_x', 'disability_x', 'final_result_x', 'id_assessment',
       'assessment_type', 'date', 'weight', 'weighted_grade', 'code_module',
       'code_presentation', 'dataplus', 'dualpane', 'externalquiz', 'folder',
       'forumng', 'glossary', 'homepage', 'htmlactivity', 'oucollaborate',
       'oucontent', 'ouelluminate', 'ouwiki', 'page', 'questionnaire', 'quiz',
       'repeatactivity', 'resource', 'sharedsubpage', 'subpage', 'url'],
      dtype='object')

In [116]:
#df_stud_assess_piv_mer3 = df_stud_assess_piv_mer3.rename(columns={"code_module_x":"code_module","code_presentation_x":"code_presentation","gender_x":"gender"})
df_stud_assess_piv_mer3.columns = df_stud_assess_piv_mer3.columns.str.rstrip('_x')

In [118]:
df_stud_assess_piv_mer3.columns

Index(['id_student', 'code_course', 'CMA', 'Exam', 'TMA', 'code_module',
       'code_presentation', 'gender', 'region', 'highest_education',
       'imd_band', 'age_band', 'num_of_prev_attempts', 'studied_credits',
       'disability', 'final_result', 'id_assessment', 'assessment_type',
       'date', 'weight', 'weighted_grade', 'code_module', 'code_presentation',
       'dataplus', 'dualpane', 'externalquiz', 'folder', 'forumng', 'glossary',
       'homepage', 'htmlactivity', 'oucollaborate', 'oucontent',
       'ouelluminate', 'ouwiki', 'page', 'questionnaire', 'quiz',
       'repeatactivity', 'resource', 'sharedsubpage', 'subpage', 'url'],
      dtype='object')

In [119]:
df_stud_assess_piv_mer3.to_csv("df_stud_assess_piv_mer3.csv",index = False)